# Fotos originales de las charlas (pesadas). El sitio usa las versiones web en assets/img/charlas/.
images/

# Capturas originales de dashboards. El sitio usa las versiones web en assets/img/dashboards/.
dashboards/
